PRIVATE_KEY=
POLYGON_AMOY_RPC_URL=
HARDHAT_RPC_URL=http://127.0.0.1:8545
HARDHAT_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
TEST_PRODUCER=
TEST_LOGISTICS=
TEST_RETAILER=
TEST_AUDITOR=
CONTRACT_ADDRESS=
PINATA_API_KEY=
PINATA_SECRET_KEY=
